<div class="container">
  <h1>Todo App</h1>
  <div class="list-group">
    <a [class]="item.Completed == true ? 'list-group-item list-group-item-success': 'list-group-item list-group-item-warning'"
      *ngFor="let item of ItemList" (click)="TodoComplete(item)">{{item.ItemName}}<p></p><button class="btn btn-danger"
        (click)="delete(item)">Delete</button></a>
  </div>
  <div class="list-group">
    <a class="list-group-item"><input type="text" class="form-control" [(ngModel)]="Item.ItemName"></a>
    <a class="list-group-item"><button class="btn btn-success" (click)="AddItem()">Add Item</button></a>
  </div>
</div>