<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Todo Application</title>
</head>
<body>
    <div style = "margin-top:50px" class = "container">
        <h3>Let's To Do</h3>
        <hr>
    <form action="addTodo/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control form-control-lg" name="title" type="text" placeholder="Please Enter something you want to do..">
    </div>
        <button type="submit" class="btn btn-success"><b>ADD</b></button>
    </form>
    <hr>
    {% if todos %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <th scope="row">{{todo.id}}</th>
                        <td><b>{{todo.title|upper}}</b></td>
                            {% if todo.completed %}
                                <td class="text-success"><b>COMPLETED</b></td>
                            {% else%}
                                <td class="text-danger"><b>NOT COMPLETED</b></td>
                            {% endif %}
                        <td><a href="update/{{todo.id}}" class="btn btn-warning" ><b>CHANGE STATUS</b></a></td>
                        <td><a href="delete/{{todo.id}}" class="btn btn-danger" ><b>DELETE</b></a></td>
                </tr>
            {% endfor %}
      
            </tbody>
            </table>
    {% else %}
        <div class = "alert alert-danger">
            <b>Opss.. I can't find any data</b>
        </div>    
    {% endif %}

   
</div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>